@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>PRIVACY INFO</h2>
    <h3>I'll synchronize only your Id, Name, LastName and Profile Photo after logging in.</h3>
    <h3>All synchronized data will be deleted after talk.</h3>
    <p><a href="/.auth/login/facebook?post_login_redirect_url=/" class="btn btn-primary btn-lg">Sign in with Facebook</a></p>

</div>