@model IEnumerable<Graphbook.Contracts.IUserProfile>

@{
    ViewBag.Title = "Me";
}

<div class="row">
    @foreach (var userCard in Model)
    {
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" src="@userCard.ProfilePictureUrl" />
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>@string.Format("{0} {1}", userCard.Name, userCard.LastName)</h2>
                            <p>I would put some interesting stuff here but I really think you should focus on my talk right now ;).</p>
                            <a href="@Url.Action("Invite", "Users", new { id = userCard.Id})" class="btn btn-primary">Invite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


